.main{
    width: 80%;
    margin: 0 auto;
}

.main_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_col-One{
    width: 20%;
}

.main_col{
    width: 80%;
}

@media screen and (max-width: 999px) {
    .main{
        width: 95%;
    }
}

@media screen and (max-width: 864px){
    .main{
        width: 100%;
    }

    .main_row{
        justify-content: center;
        align-items: center;
    }

    .main_col-One{
        width: 100%;
    }

    .main_col{
        width: 100%;
    }
}
